/*html {
      height: 100%;
    }*/
body {
  padding: 0;
  text-align: center;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto; 
  overflow: hidden;  
}    
a {
  text-decoration: none;
}
.pointer {
  color: #9b59b6;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: 15px;
}
.main {
  width: 100%;
  margin: 0 auto;
}
.btnMain {
  color: rgb(255, 255, 255);
  background: #6B92B1;
  cursor: pointer;
  display: inline-block;
  margin: 4px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  display: inline-block;
  line-height: 100%;
  padding: 0.4em;
  text-decoration: none;
  color: #fff;
  width: 110px;
  line-height: 140%;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid rgba(255,255,255,0.6);
  box-shadow: 0px 0px 8px rgba(22,35,69,0.5);
}
.clear {
  width: auto;
}
.btnMain:hover{
  background: #D65476;
  transition: .6s;
}
.page_container {
  z-index: -1;
  margin: auto;
  /*width: 80%;*/
  height: 100%;
  background-color: #fff;
  /*box-shadow: 3px 3px 2px rgba(0,0,0,.2);*/
  background-image: url("../images/pageShoppingmall.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-top: 80px;
  /*padding-bottom: 50px;*/
}
.main section.page3 .page_container {
overflow: hidden;
}
.main section.page3{
/*background-color: rgba(20, 255, 100, .5);*/
}
.main section.page4 .page_container {
overflow: hidden;
}
.main section.page4{
/*background-color: rgba(0, 120, 210, .5);*/
}
.main section.page5 .page_container {
overflow: hidden;
}
.main section.page5{
/*background-color: rgba(0, 150, 150, .4);*/
}
.main section.page6 .page_container {
overflow: hidden;
}
.main section.page6{
/*background-color: rgba(255, 223, 229, .6);*/
}   */    

#menu{
  position:fixed;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
  width: 200px;
}
#dragRolePosition{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  padding: 0 5%;
  height: auto;
}
#menu span{
  display: inline-block;
}
#menu span img{
  width: 70%;
  height: auto;
  padding-right: 10px;
  padding-bottom: 2px;
}
#menu li {
  margin: 10px;
  color: #000;
  width: 200px;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
#menu li.active{
  background: rgba(102, 153, 204, .7);
  /*color: #fff;  */
}
#menu li a{
  display: inline-block;
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);

}
#menu li a,
#menu li.active a{
  padding: 5px;
  display: inline-block; 
}
#menu li.active a{
  /*color: #fff;*/
}

/*=================頁面版面開始=====================*/
*{
  margin: 0;
  padding: 0;
  list-style:none;
  vertical-align: middle;
  font-family: "微軟正黑體";
  /*outline: 1px solid red;*/
}
.wrapper{
  /*background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  /*background-color: #A4FFC6;*/
}
.leftCol{
  display: inline-block;
  text-align: center;
  height: 100%;
  /*width: 400px;*/
  /*margin: 40px 20px;*/
}
/*.leftCol:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}*/
.floater {
  float:left;
  height:50%;
  margin-bottom:-310px;
  width: 1px;
}
.floater1 {
  float:left;
  height:50%;
  margin-bottom:-280px;
  width: 1px;
}
.floater2 {
  float:left;
  height:50%;
  margin-bottom:-420px;
  width: 1px;
}
.floater3 {
  /*float:left;*/
  /*height:50%;*/
  margin-bottom: -350px;
  width: 1px;
}
.leftCol2{
  display: inline-block;
  text-align: center;
  height: auto;
  /*height: 520px;*/
  /*margin: 40px 20px;*/
}
.leftCol2:before{
  content: "";
  height: 60px;
  display: inline-block;
  vertical-align: middle;
}
.combine{
  position: relative;
  clear: both;
  height: 450px;
}
.combine1{
  position: relative;
  clear: both;
  height: 850px;
}
.role{
  /*position: relative;*/
  text-align: center;
  /*display: inline-block;*/
  margin: auto;  
  /*z-index: 2;*/
  background-color: rgba(255,255,255,0.7);
  border: 5px solid #FDCD77; 
  border-radius: 3%;
  width: 363px;
  height: 495px;
  clear:both;
  position:relative;
  padding: 10px;
  box-shadow: 0px 0px 8px rgba(22,35,69,0.6);
}
.roleImgbox{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.role img{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#diamond{
  width: 10%;
  height: auto;
  float: left;
  margin-left: 45px;
  opacity: .6;
}
.giveGift{
  display: block;
  padding: 15px 0;
}
#femaleHead{
  display: none;
}
#maleHead{
  display: none;
}
.rightCol{
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 50%;
  position: relative; 
}
.rightCol2{
  display: inline-block;
  text-align: center;
  height: auto;
}
.question{
  margin: auto;
  width: 70%;
}
.question p{
  line-height: 100px;
  font-size: 32px;
  color: #000;
  border-bottom: 2px solid #d7becb;
}
.option{

}
.options1{
  display: inline-block;
}
.option2{      
text-align: center;
display: inline-block;
margin: auto;

}
.page1Text{
  font-size: 28px;
  text-shadow: 2px 1px 5px rgba(255, 255, 255, 0.2);
  color: #000;
  margin: auto;
  /*padding-top: 50px;*/
}
.page1Text p{
padding-top: 10px;
}
.explanation{
  font-size: 20px;
  display: inline-block;
  background-color: #fff;
  width: 50%;
  height: auto;  
  border-radius: 8px;
  opacity: .7;
  box-shadow: 0px 0px 8px rgba(0,0,0,.2);
  border: 1px solid #eee;
}
.explanationInside{
  padding: 20px 25px;
}
#expTitle{
/*margin-top: 140px;*/
font-weight: bold;
}
#expText{
font-size: 18px;
text-align: left;
}
#expStep{
  display: inline-block;
  font-size: 1px;
}
#expStep p{
  padding: 5px 0;
}
.stepTitle{
  margin-top: 25px;
}
.stepIcon img{
  height: 40%;
  width: 40%;
}
.stepDescribe{
  display: inline-block;
  
  background-color: rgba(253, 205, 119, .5);
  border-radius: 8px;
  margin: 5px 8px;
  font-size: 18px;
}

.roleText{
  background-color: #6B92B1;
  font-size: 18px;
  padding: 0.5em;
  width: 50%;
  border-radius: 7px;
  margin: 20px auto;
  color: #fff;
}
/*.roleText p{
  padding-top: 7px;
}*/
.card{
  position: relative;
  display: inline-block;
  /*background: url(../images/card.png);*/
  background-color: #ccc;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px 20px;
  width: 40%;
  height: auto;
  box-shadow: 3px 3px 2px rgba(0,0,0,.2);
}
.cardForMobile{
  display: none;
}
.arrowInstruction{
  width: 128px;
  height: 200px;  
  /*background-color: #ccc;*/
  display: inline-block;
  color: rgba(111, 82, 126, 0.8);
  /*position: absolute;
  top: 250px;
  left: 500px;*/
}
.arrowInstruction img{
  width: 100px;
  height: auto;
  /*margin-top: 50px;*/
}
.card img{
  width: 100%;
  height: auto;
}
.cardStyle{
  display: inline-block;
  margin: auto;
  /*margin-top: 15px;*/
}
.style{
  box-shadow: 0px 0px 8px rgba(22,35,69,0.5);
}
.style1{
  margin: 6px;
  display: inline-block;
  cursor: pointer;
}
.style1 img{
  width: 62px;
  height: 88px;
}
.style2{
  margin: 6px;
  display: inline-block;
  cursor: pointer;
}
.style2 img{
  width: 62px;
  height: 88px;
}
.style3{
  margin: 6px;
  display: inline-block;
  cursor: pointer;
}
.style3 img{
  width: 62px;
  height: 88px;
}
.style4{
  margin: 6px;
  display: inline-block;
  cursor: pointer;
}
.style4 img{
  width: 62px;
  height: 88px;
}
.style5{
  margin: 6px;
  display: inline-block;
  cursor: pointer;
}
.style5 img{
  width: 62px;
  height: 88px;
}
.style6{
  margin: 6px;
  display: inline-block;
  cursor: pointer;
}
.style6 img{
  width: 62px;
  height: 88px;
}
 .cardDeco{
  margin: 8px 0;
}
.confirm .btn{
margin-top: 15px;
}
.confirm{
  width: 100%;
}
.proTitle{
  color: #000;
  font-size: 18px;
}
.preTitle{
  font-size: 20px;
  color: #000;
}
.cardText input[type="textarea"]{
  width: 65%;
  height: 70px;
  background-color: rgba(253,230,195,0.7);
  font-size: 15px;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 0px 8px rgba(0,0,0,.2);
  border: 1px solid #fff;
}
::-webkit-input-placeholder{
  color: rgba(111, 82, 126, 0.8);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(111, 82, 126, 0.8);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(111, 82, 126, 0.8);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(111, 82, 126, 0.8);
}
.cardPreview{
  margin: auto;
}
#roleFinal{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  /*border: 3px dotted #ccc;
  border-radius: 8px;*/
  /*opacity: 0;*/
  /*transition: .3s;*/
}
.card:hover #roleFinal{
  /*opacity: 1;*/
  /*transition: .5s;*/
}
#roleFinal p{
  padding-top: 45px;
  color: #ddd;
}
#roleFinal img{
  position: absolute;
  left: 0;
  bottom: 0;
}
.page5Text{
  color: #000;
}
.page5Text p{
  margin: 8px 0;
  font-size: 20px;
}
.resultTitle{
  font-size: 24px;
  /*font-weight: bold;*/
  color: #f1f1f1;
  line-height: 1.5em; 
  background-color: rgba(110, 190, 142, 0.9);
  border-radius: 5px;
  padding: 5px 8px;
  text-align: center;
  text-shadow: 0px 0px 3px rgba(37,44,74,.6);
}
.singlePro{
  display: inline-block;
  text-align: center;
}
.proRecommend{
  display: inline-block;
  background-color: #fff;
  border-radius: 8px;
  opacity: .7;
  box-shadow: 0px 0px 8px rgba(0,0,0,.2);
  border: 1px solid #eee;
}
.proRow{
  font-size: 0;
}
.proPic{
  text-align: center;
  box-shadow: 3px 3px 2px rgba(0,0,0,.2);
  opacity: 1;
  transition: .6s;
  box-shadow: 0px 0px 8px rgba(22,35,69,0.5);
}
.proPic:hover{
opacity: .75;
cursor: pointer;
}
.proPic img{
width: 140px;
height: 170px;
}
.proMore{
  display: block;
  margin-top: 25px;
}
.proRecommend h5{
  color: #2F4979;
  font-size: 20px;
  line-height: 1.5em;
}
.proRecommend [class^="tag"]{ /*所有class name前頭帶有tag的標籤*/
  width: 60px;
  margin: 2px auto;
  color:#fff;
  background-color:#80aab5;
  font-size: 13px;
  border-radius: 5px;
  line-height: 1.5rem;
  padding:0px 6px;  
  text-align: center;
}
.proRecommend .proRow .singlePro{
  display: inline-block;
  box-sizing: border-box;
  /*width: 24%;*/
  padding: 0 2%;
}
.proRecommend .proRow .singleProBox{
  text-align: center;
  box-shadow: 0 0 5px rgba(24, 93, 185, 0.5);
  padding: 10px 0;
  border-radius: 3px;
  margin: 10px 0;
  transition: 0.35s;
  cursor: pointer;  
}
.singleProBox:hover{
  background-color: rgba(255, 167, 0, 0.2);
}
.proRecommend .proRow .singleProBox img{
  display: block;
  width: 66%;
  /*max-height: 250px;*/
  height: auto;
  margin: auto;
  object-fit: cover;
  box-shadow: 0px 0px 1px 1px #ccc;
}
.proRecommend .proRow:after{
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.proRecommend .price{
  font-size: 16px;
  line-height: 1rem;
}
.roleCardPreviewMobile > span img{
  transform: rotateY(180deg);
  width: 10%;
  height: auto;
  float: left;
  padding-top: 3px;
}

/*=================頁面版面結束=====================*/


/*=======================手機RWD設定開始=================*/
@media screen and (max-width: 767px){
  .page_container{
    /*padding-top: 20px;*/
  }
  .page1Text p{
    padding-top: 5px;
    font-size: 16px;
  }
  .leftCol{
    display: block;
    width: 40%;
    height: auto;
    margin: auto;
    padding-top: 25px;
  }
  .leftCol2{
    width: 40%;
    height: auto;
    display: none;
  }
  .leftCol2:before{
    height: 5px;
  }
  .rightCol{
    width: 100%;    
    height: auto;
  }
  .rightCol2{
    width: 80%;
    height: auto;
  }
  .question{
    width: 72%;
    height: auto;
  }
  .question p{
    font-size: 16px;
    line-height: 50px;
  }
  #diamond{
    width: 7%;
    height: auto;
    margin-left: 15px;
  }
  .combine{
    margin-top: 15px;
  }
  .options1{
    margin-top: 30px;
  }
  .options2{
    margin-top: 5px;
  }
  #category_1,#category_2,#category_3,#category_4,#category_5,#category_6,#category_7,#category_8{
    margin: 1px;
    padding: 0.3em;
    width: 2.8em;
    font-size: 16px;
  }
  #page_container0{
    padding-top: 20px;
  }
  .explanation{
    margin-top: 5px;
  }
  .explanationInside{
    padding: 5px 22px;
  }
  .card{
    display: none;
  }
  /*.arrowInstruction .cardForMobile*/
  #dragRoleForMobile{
    position: relative;
    display: block;
    width: 100%; 
    height: auto;
    /*margin: auto;*/
    margin-top: 8px;
    display: inline-block;
    box-shadow: 0px 0px 6px rgba(22,35,69,0.5);    
  }
  #cardForMobile img{
    width: 100%;
    height: auto;
  }
  .cardStyle{
    padding-top: 30px;
  }
  #roleFinalForMobile{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;    
  }
  #roleFinalForMobile img{
    position: absolute;
    width: 92%;
    height: auto;
    left: 4px;
    bottom: 0;
  }
  .style1,.style2,.style3,.style4,.style5,.style6{
    margin: 0;
    width: 12%;
  }
  .question1{
    padding-top: 20px;
  }  
  .page1Text{
    display: block;
    font-size: 20px;
    padding-top: 50px;
    margin: auto;
  }  
  .page5Text{
    font-size: 18px;
  }
  .explanation{
    /*margin-top: 60px;*/
    width: 90%;
    height: auto;
  }
  .role{
    display: block;
    width: 80%;
    height: auto;
  }
  .role img{
    width: 100%;
    height: 100%;
  }
  .preTitle{
    display: none;
  }
  .singlePro{
    display: inline-block;
    width: 60%;
  }
  .style img{
    width: 100%;
    height: auto;
  }
  .proPic{
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
  }
  .btnMain{
    margin: 3px;
    padding: 0.3em;
    width: 100px;
    font-size: 16px;
  }
  #btnConfirm{
    font-size: 16px;
    line-height: 100%;
    width: 100px;
  }
  .proRow1{
    width: 45%;
    display: inline-block;
    margin: auto;
  }
  .proRow2{
    width: 45%;
    display: inline-block;
    margin: auto;
  }
  .proRecommend{
    width: 78%;
    margin-top: 20px;
  }
  .cardText{
    width: 100%;
  }
  .cardText textarea{
    width: 80%;
  }
  .roleText{
    width: 90%;
  }
  .resultTitle{
    font-size: 14px;
  }
  #expTitle{
    font-size: 16px;
    /*padding: 5px 0;*/
  }
  #expText{
    padding: 6px 10px;
    font-size: 14px;
  }
  .stepIcon{
    /*margin-top: 6px;*/
  }
  .stepTitle{
    margin-top: 2px;
  }
  .stepTitle p{
    display: inline-block;
    margin-right: 5px;
  }
  .stepDescribe{
    /*padding: 0 100px;*/
    margin: 2px 1px;
    width: 95%;
    height: auto;
    font-size: 16px;
  }
  .stepIcon img{
    /*display: none;*/
    width: 8%;
    height: auto;
    float: left;
    padding-left: 16px;
    padding-top: 7px;
    /*display: inline-block;*/
  }
  #expStep p{
    padding: 5px 0;    
  }#menu li {
    margin: 7px;
    text-align: center;
    color: #000;
    width: 150px;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }  
  #menu{
    position:absolute;
    text-align: center;
    top: 500px;
    right: -896px;
    z-index: 70;
    width: 100%;
    transition: .3s;
  }
  .giveGift{
    padding: 3px 0;
  }
  #option1,#option2,#option3,#option4,#option5,#option6{
    position: fixed;
    right: -115px;
  }
  #option1{
    top: 65px;
  }
  #option2{
    top: 105px;    
  }
  #option3{
    top: 140px;
  }
  #option4{
    top: 175px;
  }
  #option5{
    top: 210px;
  }
  #option6{
    top: 245px;
  }
  .cardText input[type="textarea"]{
    height: 20px;
    width: 80%;
  }
  .arrowInstruction > img{
    display: none;
  }
  .arrowInstruction{
    font-size: 16px;
    padding-top: 25px;
    /*margin-left: 10px;*/
  }
  .arrowInstruction > p{
    display: none;
  }
  #cardForMobile{
    width: 100%;
    height: auto;
  }
  .proRecommend h5{
    font-size: 12px;
  }
  .proRecommend [class^="tag"]{
    width: 50px;
    font-size: 12px;
  }
  .proRecommend .price{
    font-size: 12px;
  }
  #menu span img{
    width: 30%;
    padding-right: 30px;
    padding-bottom: 3px;
  }
  .proRecommend .proRow .singleProBox{
    padding: 8px 0;
    margin:  5px 0;
  }
  .proMore{
    margin-top: 5px;
  }
  .singleProForMobile{
    display: none;
  }
  .proRecommend .proRow .singlePro{
    width: 35%;
  }
}
/*=======================手機RWD設定結束=================*/


/*=======================平板直式RWD設定開始=================*/
@media screen and (min-width: 768px) and (max-width: 991px){
  .page_container{
    height: 100%;
    padding-top: 80px;
  } 
  #page_container1,#page_container2,#page_container3{
    padding-top: 120px;
  }
  .leftCol{
    width: 38%;
    height: auto;
    /*margin-top: 15px;*/
  }
  .leftCol2{
    display: inline-block;
    width: 37%;
    height: auto;
    margin: auto;
  }
  .leftCol2:before{
    height: 0;
  }
  .rightCol{
    height: 50%;
    width: 70%;
  }  
  .role{
    width: 50%;
    height: auto;
  }
  .question p{
    font-size: 28px;
  }
  .floater{
    margin-bottom: -168px;
  }
  .page1Text{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .page5Text{
    font-size: 18px;
  }    
  .explanation{
    width: 75%;
    height: auto;
  }
  #expTitle{
    padding: 10px 0;
  }
  #expText{
    padding: 25px 50px;
  }
  #expStep{
    width: 100%;
  }
  #category_1,#category_2,#category_3,#category_4,#category_5,#category_6,#category_7,#category_8{
    margin: 3px;
    padding: 0.4em;
  }
  .stepDescribe{
    width: 20%;
    margin: 5px 5px;
  }
  .stepTitle{
    font-size: 16px;
  }
  .stepIcon{
    margin-top: 6px;
  }
  .combine{
    height: 365px;
  }
  .confirm{
    width: 32%;
    float: left;
  }
  .options1{
    padding-top: 50px;
  }
  .options2{
    padding-top: 30px;
  }
  .option{
    width: 101%;
    height: auto;
  }
  .question{
    width: 85%;
  }
  .btnMain{
    padding: 0.5em;
    margin: 5px;
  }
  .card{
    display: inline-block;
    width: 15%;
    height: auto;
  }
  .cardStyle{
    margin-top: 0;
  }
  .proRow .singlePro{
    width: 23%;
    margin: 5px;
  }
  .proRow1{
    display: inline-block;
    width: 80%;
  }
  .proRow2{
    display: inline-block;
    width: 80%;
  }
  .proMore{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  .resultTitle{
    font-size: 20px;
  }
  .preTitle{
    visibility: hidden;
  }
  .proRecommend{
    width: 80%;
    margin-top: 30px;
  }
  .proTitle{
    margin: 5px 0;
  }
  .cardStyle{
    width: 60%;
    height: auto;
  }
  .cardText input[type="textarea"]{
    width: 45%;
    height: 40px;
    margin-left: 75px;
    float: left;
  }
  .cardText textarea{
    width: 50%;
    height: auto;
  }  
  .arrowInstruction{
    height: 60px;
    padding-bottom: 75px;
  }
  .arrowInstruction img{
    -webkit-transform: rotateZ(150deg);
    -moz-transform: rotateZ(150deg);
    -ms-transform: rotateZ(150deg);
  }
  .arrowInstruction p{
    padding-top: 8px;
  }
  #menu li {
    margin: 10px;
    text-align: center;
    color: #000;
    width: 150px;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }  
  #menu{
    position:absolute;
    text-align: center;
    top: 500px;
    right: -896px;
    z-index: 70;
    width: 100%;
    transition: .3s;
  }
  #option1,#option2,#option3,#option4,#option5,#option6{
    position: fixed;
    right: -100px;
  }
  #option1{
    top: 300px;
  }
  #option2{
    top: 350px;    
  }
  #option3{
    top: 400px;
  }
  #option4{
    top: 450px;
  }
  #option5{
    top: 500px;
  }
  #option6{
    top: 550px;
  }
  .roleCardPreviewMobile > p{
    display: none;
  }
  .roleCardPreviewMobile > span img{
    display: none;
  }
  .proRecommend .proRow .singleProBox{
    padding: 5px 0;
    margin: 6px 0;
  }
  .floater3{
    margin-bottom: -36px;
  }
}
/*=======================平板直式RWD設定結束=================*/


/*=======================平板橫式RWD設定開始=================*/
@media screen and (min-width: 992px) and (max-width: 1199px){
  .explanation{
    width: 65%;
    height: auto;
  }
  .leftCol2{
    width: 30%;
  }
  .rightCol2{
    width: 50%;
    padding-top: 40px;
  }
  .rightCol{
    width: 60%;
    margin: auto;
  }
  .leftCol:before{
    height: 150px;
  }
  .leftCol{
    width: 35%;
    margin: auto;
  }
  /*.card{width: 60%; height: 300px;}*/
  .cardStyle{
    width: 32%;
  }
  .role{
    width: 85%;
    height: auto;
  }
  .cardText input[type="textarea"]{
    width: 70%;
    height: auto;
  }
  .options1{
    margin-top: 200px;
  }
  .options2{
    margin-top: 50px;
    width: 101%;
    /*margin-left: 100px;*/
  }
  .cardText textarea{
    width: 350px;
  }
  .roleText{
    width: 60%;
  }
  .singlePro{
    margin: 15px 10px;
  }
  .page1Text{
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .floater2{
    margin-bottom: -350px;
  }
  #expTitle{
    /*margin-top: 30px;*/
  }
  #expText{
    margin: 20px 35px;
  }
  .stepDescribe{
    margin: 2px 8px;
    padding: 8px;
  }
  .arrowInstruction{    
    margin-left: 20px;
    margin-bottom: 250px;
  }
  .proRecommend{
    width: 80%;
    margin-top: 50px;
  }
  #category_1,#category_2,#category_3,#category_4,#category_5,#category_6,#category_7,#category_8{
    margin: 10px;
    padding: 0.4em;
  }
  #expStep p{
    padding-top: 10px;
  }
  #menu li {
    float: left;    
    margin: 6px;
    text-align: center;
    color: #000;
    width: 150px;
    background:#fff;
    background: rgba(255,255,255, 0.7);
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }  
  #menu{
    position:fixed;
    /*text-align: center;*/
    top: 68px;
    left: 18px;
    height: 10%;
    width: 100%;
    z-index: 70;
    margin: auto;
  }
  .roleCardPreviewMobile > p{
    display: none;
  }
  .roleCardPreviewMobile > span img{
    display: none;
  }
  .proRecommend .proRow .singleProBox{
    padding: 6px 0;
    margin:  5px 0;
  }
  .preTitle{
    padding-top: 20px;
  }
  .floater3{
    margin-bottom: -130px;
  }
  .floater1{
    margin-bottom: -225px;
  }
  .floater{
    margin-bottom: -250px;
  }
  .proRecommend .proRow .singlePro{
    width: 22%;
  }
}

/*=======================平板橫式RWD設定結束=================*/


/*===================桌機RWD設定開始===================*/
@media screen and (min-width: 1200px){
  .page_container{
    width: 100%;
  }
  .page1Text{
    padding-top: 10px;
    padding-bottom: 15px;
  }
  #page_container5{
    margin-top: 25px;
  }
  .rightCol2{
    width: 40%;
  }
  .leftCol2{
    /*width: 35%;*/
  }
  .resultTitle{
    padding: 12px 0;
  }  
  .cardStyle{
    width: 33%;
  }
  .arrowInstruction{    
    margin-left: 60px;
    margin-bottom: 250px;
  }
  .floater2{
    height: 50vh;
  }
  .proRecommend{
    width: 60%;
  }
  .singlePro{
    margin: 5px 0;
  }
  .proPic img{
    width: 150px;
    height: 180px;
  }
  .options1{
    padding-top: 150px;
    width: 100%;
  }
  .options2{
    padding-top: 80px;
    width: 100%;
  }
  .proTitle{
    margin: 10px 0;
  }
  #expText{
    margin: 10px 70px;
  }
  #expStep{
    padding-top: 10px;
  }
  .stepDescribe{
    padding: 10px 6px;
  }
  .explanationInside{
    padding: 20px 20px;
  }
  .roleCardPreviewMobile > p{
    display: none;
  }
  .roleCardPreviewMobile > span img{
    display: none;
  }
  #menu li {
    float: left;
    margin: 10px;
    color: #000;
    width: 150px;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }  
  #menu{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    z-index: 70;
    margin: auto;
    width: 12%;
  }
  .proRecommend .proRow .singlePro{
    width: 24%;
  }
}
/*===================桌機RWD設定結束===================*/



/*#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0;
  right: 0;
  background-color: #2c3e50;
}

.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #00f;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}*/

