* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
  color: #333;
  font-family: 'Titillium Web',"Exo 2","微軟正黑體",sans-serif;
  /*outline: 1px solid red;*/
  text-decoration: none; }
body{
  background-image: url(../images/pageBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

div[class^="col_"] {
  float: left;
  box-sizing: border-box; }

.clearfix {
  width: 100%;
  height: 0;
  clear: both; }

@media all and (max-width: 767px) {
  .col_xs_1 {
    width: 8.33333%; }

  .col_xs_2 {
    width: 16.66667%; }

  .col_xs_3 {
    width: 25%; }

  .col_xs_4 {
    width: 33.33333%; }

  .col_xs_5 {
    width: 41.66667%; }

  .col_xs_6 {
    width: 50%; }

  .col_xs_7 {
    width: 58.33333%; }

  .col_xs_8 {
    width: 66.66667%; }

  .col_xs_9 {
    width: 75%; }

  .col_xs_10 {
    width: 83.33333%; }

  .col_xs_11 {
    width: 91.66667%; }

  .col_xs_12 {
    width: 100%; } }
@media all and (min-width: 768px) {
  .col_sm_1 {
    width: 8.33333%; }

  .col_sm_2 {
    width: 16.66667%; }

  .col_sm_3 {
    width: 25%; }

  .col_sm_4 {
    width: 33.33333%; }

  .col_sm_5 {
    width: 41.66667%; }

  .col_sm_6 {
    width: 50%; }

  .col_sm_7 {
    width: 58.33333%; }

  .col_sm_8 {
    width: 66.66667%; }

  .col_sm_9 {
    width: 75%; }

  .col_sm_10 {
    width: 83.33333%; }

  .col_sm_11 {
    width: 91.66667%; }

  .col_sm_12 {
    width: 100%; } }
@media all and (min-width: 970px) {
  .col_md_1 {
    width: 8.33333%; }

  .col_md_2 {
    width: 16.66667%; }

  .col_md_3 {
    width: 25%; }

  .col_md_4 {
    width: 33.33333%; }

  .col_md_5 {
    width: 41.66667%; }

  .col_md_6 {
    width: 50%; }

  .col_md_7 {
    width: 58.33333%; }

  .col_md_8 {
    width: 66.66667%; }

  .col_md_9 {
    width: 75%; }

  .col_md_10 {
    width: 83.33333%; }

  .col_md_11 {
    width: 91.66667%; }

  .col_md_12 {
    width: 100%; } }
@media all and (min-width: 1200px) {
  .col_lg_1 {
    width: 8.33333%; }

  .col_lg_2 {
    width: 16.66667%; }

  .col_lg_3 {
    width: 25%; }

  .col_lg_4 {
    width: 33.33333%; }

  .col_lg_5 {
    width: 41.66667%; }

  .col_lg_6 {
    width: 50%; }

  .col_lg_7 {
    width: 58.33333%; }

  .col_lg_8 {
    width: 66.66667%; }

  .col_lg_9 {
    width: 75%; }

  .col_lg_10 {
    width: 83.33333%; }

  .col_lg_11 {
    width: 91.66667%; }

  .col_lg_12 {
    width: 100%; } }
.outBox {
  margin: 0 auto;
  background-color: rgba(255,255,255,.6);
  box-shadow: rgba(0,0,0,.6);
  padding:100px 0;}
@media all and (max-width: 991px) {
  .outBox {
    padding-top: 70px; } }
.outBoxContainer{
  width: 85%;
  margin: 0 auto;
  /*outline: 1px solid red;*/
}  

  @media all and (max-width: 991px) {
    .outBox {
      width: 100%; }
    .outBoxContainer{
      width: 100%;}}
  @media all and (min-width: 992px) {
    .outBox {
      width: 970px; } }
  @media all and (min-width:1200px) {
    .outBox {
      width: 1170px; } }
.title {
  margin-top: 20px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 2px;
  background-color: rgba(189, 172, 106, 0.85);
  color: #F7FCFB;
  box-sizing: border-box;
  text-align: center;
  position: relative; }
.usedInfo .title span{
  position: absolute;
  bottom: 7px;
  font-size: 13px;
  line-height: 18px;
  color: #f00;
}
@media all and (max-width: 991px){
  .usedInfo .title span{
    bottom: -18px;left: 20px;
  }
}
.usedInfo>form>div[class^="col_xs"] {
  margin-top: 15px; }
.usedInfo>form {
  display: block;
  box-sizing: border-box;
  padding: 0 0 0 20px; }
@media all and (max-width: 991px){
  .usedInfo>form {
    padding: 0 20px;
  }
}
.prodImage+div {
  width: calc(70% + 20px); }
.prodImage+div> div:nth-of-type(1){
  padding: 4px 10px;
  height: 20px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  width: 30%;
  text-align: center;
  transition: all 0.3s 0s ease; }
.prodImage+div #uploadImg:hover {
  color: #eee;
  background-color: #afafaf; }
.prodImage+div input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer; }

@media all and (max-width: 991px) {
  .usedInfo form>div {
    width: 100%; } }

.usedInfo form {
  display: block; }
.usedInfo input[type=text] {
  outline: none;
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  width: 70%;
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  background-color: rgba(189, 172, 106, 0.2);
  color: #aaa; }
.usedInfo select {
  outline: none;
  font-size: 13px;
  /*line-height: 20px;*/
  /*height: 20px;*/
  width: 73%;
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  background-color: rgba(189, 172, 106, 0.2);
  color: #aaa; }
.usedInfo select option {
  outline: none;
}
@media all and (max-width: 991px){
  .usedInfo input[type=text] {
    width: calc(100% - 20px);
  }
  .usedInfo select {
    width: 100%;
  }
  .prodImage+div {
    width: 100%;
  }
}
#showFile {
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  width: calc(70% - 46px);
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  background-color: rgba(189, 172, 106, 0.2);
  display: inline-block;
  overflow: hidden;
  color: #aaa; }
.uploadList {
  text-align: center;
  margin: 30px 0; }
.uploadList span {
  display: inline-block;
  letter-spacing: 1px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: rgba(200,50,50,.6);
  color: #EDF4F0;
  cursor: pointer;
  margin-top: 10px; }
.usedList .init {
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 150px; }
.usedList table {
  display: none;
  width: 100%;
  text-align: center; }
.usedList table td {
  width: calc(100% / 8); }
.usedList table tr+tr td {
  padding-top: 20px; }
.usedList table img {
  width: 20%; }
#remove {
  display: inline-block;
  /*margin:20px 0; */
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(200,50,50,.6);
  color: #EDF4F0;
  cursor: pointer;
  margin-top: 10px; }
.usedPostRule div+div {
  width: 95%;
  line-height:1.7rem; 
  background-color: #EEEEEE;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  margin: 10px auto; }
.usedPostRule label {
  cursor: pointer;
  white-space: nowrap;
  /*width: 20%;*/
  text-align: center;
  display: inline-block;
  padding: 4px;
  margin: 4px 45%; }
.send {
  text-align: center;
  position: relative; }
#send {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(200,50,50,.6);
  color: #EDF4F0;
  cursor: pointer;
  margin-top: 10px;
  position: relative; }
  #send + #problem {
    font-size: 13px;
    line-height: 18px;
    position: absolute;
    color: #f00;
    left: 0;right: 0;
    margin: auto;
    bottom: -18px; }

/*最新table_1 設定*/
#table_1 {
  text-align: center; }
div[id^="usedprod"]>div{
  margin-bottom: 1%; }

.title_1, .title_2 {
  display: none;
  margin: 10px 0;
  color: #8FC0A8; }
@media all and (max-width: 767px){
  .title_1 {
    display: block; }
  .title_2 {
    display: none; }
}
@media all and (min-width: 768px){
  .title_1 {
    display: none; }
  .title_2 {
    display: block; }
}
.tr+.tr{
  border-top: 1px solid #eee;
}
#table_1 img {
  width: 40%; }
@media all and (max-width: 991px) {
  #table_1 img {
    width: 60%; }
}
@media all and (max-width: 575px) {
  #table_1 img {
    width: 85%; }
}
@media all and (max-width: 355px) {
  #table_1 img {
    width: 125%; }
}


/*===========================
  */

.prodName,.prodSeries,.prodClass,.prodPrice,.prodImage,.prodInfo{
  margin: 10px 0;
}  
.usedList{
  margin: 50px 0;
}

.tr{
  padding-top: 20px;
}

.title_1>div:nth-of-type(2) {
  white-space: nowrap; }